# Ignore .env files for sensitive information
.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.env/

# Ignore Flask instance and config files
instance/

# Ignore coverage reports
.coverage
coverage.xml
*.cover

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore dependency directories
node_modules/